<footer class="site-footer" th:fragment="footer">
  <div class="footer-columns">
    <div class="footer-col">
      <h4>플래너즈</h4>
      <ul>
        <li>
          <a th:href="@{/intro}">플래너즈란</a>
        </li>
        <li>
          <a
              href="#"
          >자주하는 질문</a
          >
        </li>
      </ul>
    </div>
    <div class="footer-col">
      <h4>서비스 정책</h4>
      <ul>
        <li>
          <a th:href="@{/confirm}">이용약관</a>
        </li>
        <li>
          <a th:href="@{/privacy}">개인정보 처리방침</a>
        </li>
      </ul>
    </div>
    <div class="footer-col company-info">
      <h4>(주) 같이갈래</h4>
      <p>
        주소:
        <a href="https://www.busanit.ac.kr/"
        >부산 부산진구 중앙대로 708 부산파이낸스센터 4층</a
        >
      </p>
      <p>
        고객센터: v_star@naver.com
      </p>
    </div>
  </div>
</footer>